.signup{
    width: 100%;

    height: 90vh;
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 239, 241);


}
.sign-up{
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: center;
   
}
.SignUp{
    width: 400px;
    height: 700px;

    background-color: #fff;
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    

}
.signin-container-2{
    width: 340px;
    height: 650px;
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000A6;

}
.input-container{
    
}
.Form-up{
    width: 340px;
    height: 350px;
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.forget-password-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 325px;
    gap: 10px;
    margin-top: 10px;
}

.forget-password-2 p:nth-child(1){
    opacity: .5;
}
.forget-password-2 p:nth-child(2){
    cursor: pointer;
}
.accounts-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.accounts-2 p{
    opacity: .5;
}

