.Main {
    width: 100%;
   
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    
}

.Main-container {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.box {

    width: 950px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 100px;

}

#Explore {
    transition: .2s ease;
}

.box-text {
    width: 450px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 0px;
}

.box-text h1 {
    font-size: 42px;
    color: #fff;
}

.box-text p {
    color: #fff;
    
    
}

.Account {
    height: 35px;
    width: 150px;
    border-radius: 25px;
    background-color: #1da09c;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;

    border-color: transparent;
    transition: .3s ease;

  
}


.Account svg {
    fill: #fff;
}

.Account:hover {
    background-color: #1f7673;
}

.box-text-2 {
    width: 450px;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: end;
    align-content: center;

    flex-direction: column;
    gap: 20px;
}

.box-text-2 p {
    color: #000000A6;
}

.box-2 {
    width: 950px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: end;
    flex-direction: row;
    text-align: end;
    gap: 100px;

}

.box-img-2 {
    animation: move 4s infinite alternate;

}

@keyframes move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(40px);
    }
}

.start-box {
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 25px;


}

.start-box h1 {
    color: #1da09c;
}

.get-started {
    color: #0088cc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: .3s ease;


}

.get-started:hover {
    color: #17597a;

}

.get-started:hover svg {
    fill: #17597a;
}

.get-started svg {
    transition: .3s ease;
    fill: #0088cc;

}

.box-3 {
    width: 950px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 100px;
}

.box-3-mini {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.box-3-mini-img {}

.box-3-mini-img img:nth-child(1) {
    position: relative;
    z-index: 3;
}

.box-3-mini-img img:nth-child(2) {
    position: relative;
    right: 20px;
    z-index: 2;
}

.box-3-mini-img img:nth-child(3) {
    position: relative;
    right: 40px;
    z-index: 1;
}

.box-3-mini-text {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.box-3-mini-text p,
.box-3-mini-text-2 p {
    color: #000000A6;
}

.box-3-mini-text-2 {

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.box-3-mini-text h1 {
    color: #0088cc;
    font-size: 25px;
}

.box-3-mini-text-2 h1 {
    color: rgb(183, 137, 43);
    font-size: 25px;
}

.view-question,
.Business-oppotunities {
    color: #0088cc;
    text-align: center;
    display: flex;

    align-items: center;
    align-content: center;
    cursor: pointer;
    transition: .3s ease;
    font-size: 17px;

}

.view-question svg,
.Business-oppotunities svg {
    fill: #0088cc;

}

.view-question:hover,
.Business-oppotunities:hover {
    color: #17597a;
}

.view-question:hover svg,
.Business-oppotunities:hover svg {
    fill: #17597a;
}

@media only screen and (max-width:990px) {
    .box-img img {
        display: none;
    }

    .box {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .box-text{
        margin-bottom: 50px;
    }
    .box-2 {
        gap: 25px;
        width: 100%;
    }

    .box-img-2 img {
        width: 300px;
        height: 250px;
    }

    .box-3 {
        gap: 20px;

        width: 90%;

    }


}

@media only screen and (max-width:768px) {


    .box-text {
        margin-bottom: 100px;
    }

    .box {
        width: 100%;
        ;
    }

    .box-2 {
        width: 650px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        text-align: center;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .box-text-2 {
        align-items: center;
        text-align: center;
    }

    .start-box h1 {
        font-size: 25px;
    }

    .box-img-2 img {
        width: 250px;
        height: 250px;

    }

    .start-box {
        gap: 50px;

    }

    .start-box img {
        display: none;

    }


    .box-3 {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 350px;


        gap: 50px;

    }



    .box-3-mini-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;

    }

    .box-3-mini-text-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    @keyframes move {
        0% {
            transform: translateY(0);
        }
    
        100% {
            transform: translateY(o);
        }
    }
    .box-img-2 {
      

    }


}

@media only screen and (max-width:650px) {
    .box-2 {
        width: 100%;
    }

}

@media only screen and (max-width:480px) {

    .box-img-2 img {
        width: 200px;
        height: 200px;

    }

    .box,
    .box-2 {
        width: 100%;
    }

    .box-3 {
        width: 100%;
        gap: 30px;
    }


    .box-text h1 {
        font-size: 35px;
    }


    .box-text,
    .box-text-2,
    .box-3-mini {
        width: 100%;
    }


    .box-text p,
    .box-text-2 p,
    .box-3-mini-text p,
    .box-3-mini-text-2 p {
        width: 75%;
    }


    .box-3-mini-text h1 {
        font-size: 25px;
    }

    .box-3-mini-img img {
        width: 50px;
        height: 50px;

    }


}
@media only screen and (max-width:420px) {
    .box-3-mini{
        margin-top: 75px;
    }

}
@media only screen and (max-width:293px)  {
    .box-3-mini{
        margin-top: 250px;
    }
  }